<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ChapooDatabase"
     providerName="System.Data.SqlClient"
    connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=chapoo1920f05;user=chapoo1920f05;password=Xm8ws!25HZ4~;" />
  </connectionStrings>
</configuration>