<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ChapooDatabase" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=chapoo1920f05;user=chapoo1920f05;password=Xm8ws!25HZ4~;"
      providerName="System.Data.SqlClient" />
    <add name="ChapooUI.Properties.Settings.chapoo1920f05ConnectionString"
      connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=chapoo1920f05;Persist Security Info=True;User ID=chapoo1920f05;Password=Xm8ws!25HZ4~"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>